@model EC2_1601226.ViewModels.ShoppingCartViewModel

@{ 
    ViewBag.Title = "Shopping Cart";
}

<div class="row checkoutForm">
    <h2>Your Shopping Cart</h2>
    <div class="container" style="background-color:lavender">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Selected Amount</th>
                    <th>Bag</th>
                    <th class="text-right">Price</th>
                    <th class="text-right">Sub Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var line in Model.Cart.ShoppingCartItem)
                {
                    <tr>
                        <td class="text-center">@line.Amount</td>
                        <td class="text-left">@line.Bag.Name</td>
                        <td class="text-right">@line.Bag.Price.ToString("c")</td>
                        <td class="text-right">
                            @((line.Amount * line.Bag.Price).ToString("c"))
                        </td>
                        <td class="text-center"><a class="glyphicon glyphicon-remove text-danger remove" asp-controller="ShoppingCart" asp-action="RemoveFromCart"></a></td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Total:</td>
                    <td class="text-right">
                        @Model.CartTotal.ToString("c")
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <br />
    <br />
    <div class="text-right">
        <div class="btn-group">
            <a class="btn btn-success" asp-controller="Order" asp-action="Checkout">Check out</a>
            <a class="btn-group">
                <a asp-controller="Home" asp-action="Index">
                    Continue Shopping
                </a>
            </a>
        </div>
    </div>
</div>

